@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'Poppins', sans-serif, Arial;
  text-align: center;
  margin: 0;
  padding-top: 100px;
}

* {
  margin: 0;
  padding: 0;
}

i {
  margin-right: 10px;
}
.navbar {
  font-family: "Space Mono", monospace;
  padding-right: 10px;
  padding-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.grad-bar {
  width: 100%; /* Full width */
  height: 5px; /* Adjust as needed */
  z-index: 1001;
  background: -webkit-linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  -webkit-animation: gradbar 7.5s ease infinite;
  -moz-animation: gradbar 7.5s ease infinite;
  -o-animation: gradbar 7.5s ease infinite;
  animation: gradbar 7.5s ease infinite;
  position: fixed; /* Fix the grad-bar at the top of the page */
  top: 0; /* Position at the top */
}

@-webkit-keyframes gradbar {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

@keyframes gradbar {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

/*----------bootstrap-navbar-css------------*/
.navbar-logo {
  padding: 15px;
  color: #fff;
}

.navbar-mainbg {
  background-color: #5161ce;
  padding: 0px;
}
.navbar-nav {
  align-items: center;
}

#navbarSupportedContent {
  overflow: hidden;
  position: relative;
}

#navbarSupportedContent ul {
  padding: 0px;
  margin: 0px;
  display: flex; /* Added to make list items horizontal */
  flex-direction: row; /* Added to make list items horizontal */
}

#navbarSupportedContent li {
  list-style-type: none;
}

#navbarSupportedContent ul li a i {
  margin-right: 10px;
}

#navbarSupportedContent li {
  list-style-type: none;
  float: left;
}

#navbarSupportedContent ul li a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  font-size: 15px;
  display: block;
  padding: 20px 20px;
  -webkit-transition-duration: 0.6s;
       -o-transition-duration: 0.6s;
          transition-duration: 0.6s;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
       -o-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
          transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  position: relative;
}

#navbarSupportedContent>ul>li.active>a {
  color: #5161ce;
  background-color: transparent;
  -webkit-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
}

#navbarSupportedContent a:not(:only-child):after {
  content: "\f105";
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 14px;
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

#navbarSupportedContent .active>a:not(:only-child):after {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.headings h1, .headings h2 {
  text-align: center;
  font-family: "Varela", sans-serif;
  font-weight:bold
}
.container .headings{

  background-image: url('treatment/static/treatment/imagesdoctor-with-stethoscope-in-hand-on-hospital-background-photo.jpg');
}
.container .treat{
  margin-top: 50px;
}
.mult-select-tag {

  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  position: relative;
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-color: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  --border-color: rgb(218, 221, 224);
  font-family: Verdana, sans-serif
}

.mult-select-tag .wrapper {
  width: 100%
}

.mult-select-tag .body {
  display: flex;
  border: 1px solid var(--border-color);
  background: #fff;
  min-height: 2.15rem;
  width: 100%;
  min-width: 14rem
}

.mult-select-tag .input-container {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 auto;
  padding: .1rem;
  align-items: center
}

.mult-select-tag .input-body {
  display: flex;
  width: 100%
}

.mult-select-tag .input {
  flex: 1;
  background: 0 0;
  border-radius: .25rem;
  padding: .45rem;
  margin: 10px;
  color: #2d3748;
  outline: 0;
  border: 1px solid var(--border-color)
}

.mult-select-tag .btn-container {
  color: #e2ebf0;
  padding: .5rem;
  display: flex;
  border-left: 1px solid var(--border-color)
}

.mult-select-tag button {
  cursor: pointer;
  width: 100%;
  color: #718096;
  outline: 0;
  height: 100%;
  border: none;
  padding: 0;
  background: 0 0;
  background-image: none;
  -webkit-appearance: none;
  appearance: none;
  text-transform: none;
  margin: 0
}

.mult-select-tag button:first-child {
  width: 1rem;
  height: 90%
}

.mult-select-tag .drawer {
  position: absolute;
  background: #fff;
  max-height: 15rem;
  z-index: 40;
  top: 98%;
  width: 100%;
  overflow-y: scroll;
  border: 1px solid var(--border-color);
  border-radius: .25rem
}

.mult-select-tag ul {
  list-style-type: none;
  padding: .5rem;
  margin: 0
}

.mult-select-tag ul li {
  padding: .5rem;
  border-radius: .25rem;
  cursor: pointer
}

.mult-select-tag ul li:hover {
  background: rgb(243 244 246)
}

.mult-select-tag .item-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .2rem .4rem;
  margin: .2rem;
  font-weight: 500;
  border: 1px solid;
  border-radius: 9999px
}

.mult-select-tag .item-label {
  max-width: 100%;
  line-height: 1;
  font-size: 13px;
  font-weight: 400;
  flex: 0 1 auto
}

.mult-select-tag .item-close-container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row-reverse
}

.mult-select-tag .item-close-svg {
  width: 1rem;
  margin-left: .5rem;
  height: 1rem;
  cursor: pointer;
  border-radius: 9999px;
  display: block
}

.hidden {
  display: none
}

.mult-select-tag .shadow {
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.mult-select-tag .rounded {
  border-radius: .375rem
}