@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

        :root {
            --primary-color: #2196f3;
            --secondary-color: #64b5f6;
            --text-color: #333;
            --bg-color: #f5f5f5;
        }

        body {
            font-family: 'Poppins', sans-serif, Arial;
            color: var(--text-color);
            background-color: var(--bg-color);
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }

        main {
            max-width: 1200px;
            /* Increased max-width */
            text-align: center;
            margin-top: -100px;
        }

        h1 {
            font-family: "Varela", sans-serif;
            font-size: 3rem;
            margin-bottom: 2rem;
        }

        .options-container {
            display: flex;
            justify-content: space-between;
            /* Changed justify-content */
            gap: 2rem;
        }

        .option {
            background-color: #fff;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            padding: 2rem;
            width: 300px;
            height: 400px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            transition: transform 0.3s ease;
            cursor: pointer;
            /* Added cursor pointer */
        }

        .option:hover {
            transform: translateY(-5px);
        }

        .option i {
            font-size: 8rem;
            color: var(--primary-color);
            margin-bottom: 1rem;
        }

        .option.admin i {
            color: #e53935;
        }

        .option.practitioner i {
            color: #43a047;
        }

        .option.patient i {
            color: var(--primary-color);
        }

        .option.hospital i {
            color: #9c27b0;
        }

        .option h2 {
            font-size: 2rem;
            margin-bottom: 0.5rem;
        }

        .option p {
            font-size: 1.5rem;
            color: #777;
            margin-bottom: 1.5rem;
        }

        .option a {
            display: block;
            text-decoration: none;
            /* Remove the underline */
            color: inherit;
        }

        .navbar {
            font-family: "Space Mono", monospace;
            padding-right: 10px;
            padding-left: 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 1000;
        }

        .grad-bar {
          width: 100%; /* Full width */
          height: 5px; /* Adjust as needed */
          z-index: 1001;
          background: -webkit-linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
          background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
          background-size: 400% 400%;
          -webkit-animation: gradbar 7.5s ease infinite;
          -moz-animation: gradbar 7.5s ease infinite;
          -o-animation: gradbar 7.5s ease infinite;
          animation: gradbar 7.5s ease infinite;
          position: fixed; /* Fix the grad-bar at the top of the page */
          top: 0; /* Position at the top */
        }
          
          @-webkit-keyframes gradbar {
            0% {
              background-position: 0% 50%
            }
          
            50% {
              background-position: 100% 50%
            }
          
            100% {
              background-position: 0% 50%
            }
          }
          
          @-moz-keyframes gradbar {
            0% {
              background-position: 0% 50%
            }
          
            50% {
              background-position: 100% 50%
            }
          
            100% {
              background-position: 0% 50%
            }
          }
          
          @keyframes gradbar {
            0% {
              background-position: 0% 50%
            }
          
            50% {
              background-position: 100% 50%
            }
          
            100% {
              background-position: 0% 50%
            }
          }
          
          /*----------bootstrap-navbar-css------------*/
          .navbar-logo {
            padding: 15px;
            color: #fff;
          }
          
          .navbar-mainbg {
            background-color: #5161ce;
            padding: 0px;
          }
          
          #navbarSupportedContent {
            overflow: hidden;
            position: relative;
          }
          
          #navbarSupportedContent ul {
            padding: 0px;
            margin: 0px;
          }
          
          #navbarSupportedContent ul li a i {
            margin-right: 10px;
          }
          
          #navbarSupportedContent li {
            list-style-type: none;
            float: left;
          }
          
          #navbarSupportedContent ul li a {
            color: rgba(255, 255, 255, 0.5);
            text-decoration: none;
            font-size: 15px;
            display: block;
            padding: 20px 20px;
            transition-duration: 0.6s;
            transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
            position: relative;
          }
          
          #navbarSupportedContent>ul>li.active>a {
            color: #5161ce;
            background-color: transparent;
            transition: all 0.7s;
          }
          
          #navbarSupportedContent a:not(:only-child):after {
            content: "\f105";
            position: absolute;
            right: 20px;
            top: 10px;
            font-size: 14px;
            font-family: "Font Awesome 5 Free";
            display: inline-block;
            padding-right: 3px;
            vertical-align: middle;
            font-weight: 900;
            transition: 0.5s;
          }
          
          #navbarSupportedContent .active>a:not(:only-child):after {
            transform: rotate(90deg);
          }

        @media (max-width: 1200px) {
            .options-container {
                flex-wrap: wrap;
                justify-content: center;
            }
        }