{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medical Practitioner Dashboard</title>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.0/css/bootstrapValidator.min.css">
    
    <!-- for aadhar search feature  -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'treatment/css/medpracdash.css' %}">
</head>

<body>
    <div class="grad-bar"></div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'home' %}">Aarogya Sangraha</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <div class="hori-selector">
          <div class="left"></div>
          <div class="right"></div>
        </div>
        {% if user.hospital %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'treatment:hospital_dashboard' request.user.hospital.hospitalID %}"><i class="fas fa-desktop"></i></i>Back To Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'treatment:hospitallogout' %}"><i class="fas fa-sign-out-alt"></i>Logout</a>
        </li>
        {% elif user.medicalpractitioner %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'treatment:practitioner_dashboard' request.user.medicalpractitioner.medicalID %}"><i class="fas fa-desktop"></i>Back To Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'treatment:medpraclogout' %}"><i class="fas fa-sign-out-alt"></i>Logout</a>
        </li>
        {% elif user.patient %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'treatment:patient_dashboard' request.user.patient.aadharNo %}"><i class="fas fa-desktop"></i>Back To Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'treatment:patientlogout' %}"><i class="fas fa-sign-out-alt"></i>Logout</a>
        </li>
        {% elif user.admin %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'treatment:admin_dashboard' request.user.username %}"><i class="fas fa-desktop"></i>Back To Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'treatment:adminlogout' %}"><i class="fas fa-sign-out-alt"></i>Logout</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>
    <div class="container">
        <form class="well form-horizontal" action=" " method="post" id="contact_form">
            {% csrf_token %}
            <fieldset>

                <!-- Form Name -->
                <legend>Add Medicine</legend>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="id_medName">MedName:</label>
                    <div class="col-md-4 inputGroupContainer">
                        <input name="medName" class="form-control" type="text" maxlength="100" required id="id_medName">
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="id_company">Company:</label>
                    <div class="col-md-4 inputGroupContainer">
                        <input name="company" class="form-control" type="text" maxlength="50" required id="id_company">
                    </div>
                </div>

                <!-- Text input-->

                <div class="form-group">
                    <label class="col-md-4 control-label" for="id_type_med">Type Med:</label>
                    <div class="col-md-4 inputGroupContainer">
                        <select class="form-control select2" name="type_med" required id="id_type_med">
                            <option value="" selected>Select Type</option>
                            <option value="Antipyretic">Antipyretic</option>

                            <option value="Analgesic">Analgesic</option>

                            <option value="Antihistamine">Antihistamine</option>

                            <option value="Antibiotic">Antibiotic</option>

                            <option value="Antidepressant">Antidepressant</option>

                            <option value="Anticoagulant">Anticoagulant</option>

                            <option value="Antihypertensive">Antihypertensive</option>

                            <option value="Anti-inflammatory">Anti-inflammatory</option>

                            <option value="Antiviral">Antiviral</option>

                            <option value="Diuretic">Diuretic</option>

                            <option value="Antifungal">Antifungal</option>

                            <option value="Antiemetic">Antiemetic</option>

                            <option value="Anticonvulsant">Anticonvulsant</option>

                            <option value="Bronchodilator">Bronchodilator</option>

                            <option value="Muscle Relaxant">Muscle Relaxant</option>

                            <option value="Laxative">Laxative</option>

                            <option value="Antacid">Antacid</option>

                            <option value="Hormone Replacement Therapy (HRT)">Hormone Replacement Therapy (HRT)</option>

                            <option value="Immunosuppressant">Immunosuppressant</option>

                            <option value="Antimigraine">Antimigraine</option>

                            <option value="Antidiabetic">Antidiabetic</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="id_regulatoryClass">Regulatory Class:</label>
                    <div class="col-md-4 inputGroupContainer">
                        <select class="form-control" name="regulatoryClass" id="id_regulatoryClass">
                            <option value="General">General</option>
                            <option value="Restricted">Restricted</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="id_dosage">Dosage:</label>
                    <div class="col-md-4 inputGroupContainer">
                        <input name="dosage" class="form-control" type="number" required id="id_dosage">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="id_medCost">Medicine Cost:</label>
                    <div class="col-md-4 inputGroupContainer">
                        <input name="medCost" class="form-control" type="number" required id="id_medCost">
                    </div>
                </div>

                <!-- Button -->
                <div class="form-group">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-warning">Add Medicine<span
                                class="glyphicon glyphicon-send"></span></button>
                    </div>
                </div>

            </fieldset>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.5/js/bootstrapvalidator.min.js"></script>

    <!-- for medicine search -->
    <script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@2.0.1/dist/js/multi-select-tag.js"></script>
    <script>
        new MultiSelectTag('medicines')  // id
    </script>
    <!-- for aadhar search  -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#id_aadharNo').select2();
        });
    </script>

</body>

</html>