{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Aarogya Sangraha</title>
  <link rel="stylesheet" href="{% static 'treatment/css/home.css' %}">
  <link k rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <style>
    /* CSS for side by side paragraphs */
    #para1, #para2 {
      display: inline-block;
      width: calc(45% - 5px); /* Adjust width as needed */
      margin-right: 5px; /* Adjust spacing between paragraphs */
      vertical-align: top; /* Align paragraphs at the top */
    }
  </style>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Unica+One&display=swap" rel="stylesheet">
</head>
<body>
  <div class="grad-bar"></div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'home' %}">Aarogya Sangraha</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <div class="hori-selector">
          <div class="left"></div>
          <div class="right"></div>
        </div>
        <li class="nav-item">
          <a class="nav-link" href="#" onclick="enterTreatmentId(); return false;"><i class="fas fa-key small-icon"></i></i> Verify</a>
        </li>
        {% if not user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'treatment:signup' %}"><i class="fas fa-user small-icon"></i> Signup</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'treatment:login' %}"><i class="fas fa-sign-in-alt small-icon"></i> Login</a>
        </li>
        {% else %}
        {% if user.hospital %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'treatment:hospital_dashboard' request.user.hospital.hospitalID %}"><i class="fas fa-desktop small-icon"></i></i> Back To Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'treatment:hospitallogout' %}"><i class="fas fa-sign-out-alt small-icon"></i> Logout</a>
        </li>
        {% elif user.medicalpractitioner %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'treatment:practitioner_dashboard' request.user.medicalpractitioner.medicalID %}"><i class="fas fa-desktop small-icon"></i> Back To Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'treatment:medpraclogout' %}"><i class="fas fa-sign-out-alt small-icon"></i> Logout</a>
        </li>
        {% elif user.patient %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'treatment:patient_dashboard' request.user.patient.aadharNo %}"><i class="fas fa-desktop small-icon"></i> Back To Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'treatment:patientlogout' %}"><i class="fas fa-sign-out-alt small-icon"></i> Logout</a>
        </li>
        {% elif user.admin %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'treatment:admin_dashboard' request.user.username %}"><i class="fas fa-desktop small-icon"></i> Back To Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'treatment:adminlogout' %}"><i class="fas fa-sign-out-alt small-icon"></i> Logout</a>
        </li>
        {% endif %}
        {% endif %}
      </ul>
    </div>
  </nav>
  <header>
    <h1 class="name" data-value = "AAROGYA SANGRAHA">AAROGYA SANGRAHA</h1>
  </header>
  <div>
    <div class="parent-para">
      <div id="inov"><h2 style="font-size: 55px ;">Innovatively Yours</h2></div>
      <div class="para-section">
        <div class="para">
          <p>Welcome to Aarogya Sangraha, the future of medical data. We combine cutting-edge tech -nology with an uncompromising commitment to healthcare.</p>
        </div>
        <div class="para">
          <p>Providing you with the most modern, efficient, and foolproof system for all your medical database management needs. It’s not magic, just what you deserve!</p>
        </div>
      </div>
    </div>
    <div id="number-section">
      <div class="container">
        <div id="rect">
          <h1 style="font-size: 60px;">{{hospital_count}}+</h1>
          <p style="font-size: 25px;">hospitals trust us with their data management</p>
        </div>
        <div id="square">
          <i class="fa-solid fa-hospital"></i>
        </div>
      </div>
      <div class="container">
        <div id="square">
          <i class="fa-solid fa-user-doctor"></i>
        </div>
        <div id="rect">
          <h1 style="font-size: 60px;">{{medical_count}}+</h1>
          <p style="font-size: 25px;">doctors supporting us</p>
        </div>
      </div>
      <div class="container">
        <div id="rect">
          <h1 style="font-size: 60px;">{{patient_count}}+</h1>
          <p style="font-size: 25px;">patient records securely stored and efficiently managed</p>
        </div>
        <div id="square">
          <i class="fa-solid fa-user-injured"></i>
        </div>
      </div>
    </div>
    <div class="footer-para">
      <div id="inov"><h2 style="font-size: 60px;">Impressively Simple</h2></div>
      <div class="para-section">
          <p style="font-size: 25px;margin-bottom: 50px;">Our robust platform ensures a hassle-free experience, providing a seamless and secure management system for medical records.</p>
      </div>
    </div>
    <footer>
      <div style="margin-top: 30px;" class="footer-bottom">
        <h3>About Us</h3>
        <p style="margin-bottom: 40px;">Welcome to Aarogya Sangraha. We're not just your average database wizards, we're the superheroes of healthcare technology.<br> So sit back, relax, and let us handle the data while you focus on saving lives. Trust us, we've got this!</p>
        <p>&copy; 2024, All rights reserved by AAROGYA SANGRAHA.</p>
      </div>
    </footer>
  </div>
  <script src="{% static 'treatment/js/home.js' %}"></script>
</body>
</html>