{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <link k rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css">
  <link rel="stylesheet" href="{% static 'treatment/css/home.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <title>Home</title>
</head>

<body>
  <div class="grad-bar"></div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'home' %}">Aarogya Sangraha</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <div class="hori-selector">
          <div class="left"></div>
          <div class="right"></div>
        </div>
        <li class="nav-item">
          <a class="nav-link" href="#" onclick="enterTreatmentId(); return false;"><i class="fas fa-key"></i></i>Verify</a>
        </li>
        {% if not user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'treatment:signup' %}"><i class="fas fa-user"></i>Signup</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'treatment:login' %}"><i class="fas fa-sign-in-alt"></i>Login</a>
        </li>
        {% else %}
        {% if user.hospital %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'treatment:hospital_dashboard' request.user.hospital.hospitalID %}"><i class="fas fa-sign-out-alt"></i>Back To Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'treatment:hospitallogout' %}"><i class="fas fa-sign-out-alt"></i>Logout</a>
        </li>
        {% elif user.medicalpractitioner %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'treatment:practitioner_dashboard' request.user.medicalpractitioner.medicalID %}"><i class="fas fa-sign-out-alt"></i>Back To Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'treatment:medpraclogout' %}"><i class="fas fa-sign-out-alt"></i>Logout</a>
        </li>
        {% elif user.patient %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'treatment:patient_dashboard' request.user.patient.aadharNo %}"><i class="fas fa-sign-out-alt"></i>Back To Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'treatment:patientlogout' %}"><i class="fas fa-sign-out-alt"></i>Logout</a>
        </li>
        {% elif user.admin %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'treatment:admin_dashboard' request.user.username %}"><i class="fas fa-sign-out-alt"></i>Back To Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'treatment:adminlogout' %}"><i class="fas fa-sign-out-alt"></i>Logout</a>
        </li>
        {% endif %}
        {% endif %}
      </ul>
    </div>
  </nav>
  <div class="section" id="company-name" data-value="AAROGYA SANGARAHA">
    AAROGYA SANGARAHA
  </div>
  <div class="container">
    <div class="progress-row">
      <div class="circular-progress-1">
        <span class="progress-value-1">0</span>
      </div>
      <span class="text">Patients</span>
    </div>
    <div class="progress-row">
      <div class="circular-progress-2">
        <span class="progress-value-2">0</span>
      </div>
      <span class="text">Doctors on Duty</span>
    </div>
    <div class="progress-row">
      <div class="circular-progress-3">
        <span class="progress-value-3">0</span>
      </div>
      <span class="text">Hospitals Serving</span>
    </div>
  </div>
  <div class="section" id="slogan">
    We keep it safe for you
  </div>
</body>
<script>
  var patientCount = "{{ patient_count }}";
  var hospitalCount = "{{ hospital_count }}";
  var medicalCount = "{{ medical_count }}";
  async function enterTreatmentId() {
    const treatmentId = prompt("Please enter the treatment ID:");
    if (treatmentId) {
        try {
            const response = await fetch('http://127.0.0.1:8000/treatment/verifyTreatment', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({ 'treatmentId': treatmentId })
            });

            const data = await response.json();

            if (data.message === 'Treatment verified!') {
                Swal.fire({
                    title: 'Treatment verified!',
                    html: `Date: ${data.date}<br>Patient Name: ${data.patient_name}<br>Hospital Visited: ${data.hospital_name}<br>Department Concerned: ${data.department}<br>Treated By: ${data.doc_name}`,
                    icon: 'success'
                });
            } else {
                Swal.fire({
                    title: 'Forged!',
                    text: data.message,
                    icon: 'error'
                });
            }
        } catch (error) {
            console.error('Error:', error);
            Swal.fire({
                title: 'Forged!',
                text: data.message,
                icon: 'error'
            });
        }
    }
}
</script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"></script>
<script src="{% static 'treatment/js/home.js' %}"></script>
</html>