{% extends 'treatment/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<!-- 
        path('hospitalsignup',views.hospital_signup_view,name='hospitalsignup'),
    path('hospitallogin',LoginView.as_view(template_name='treatment/hospitallogin.html'),name='hospitallogin'),

    path('medpracsignup',views.medical_practitioner_signup_view,name='medpracsignup'),
    path('medpraclogin',LoginView.as_view(template_name='treatment/medpraclogin.html'),name='medpraclogin'),

    path('patientsignup',views.patient_signup_view,name='patientsignup'),
    path('patientlogin',LoginView.as_view(template_name='treatment/patientlogin.html'),name='patientlogin'),
 -->
<body>
    {% block body %}
    <p>Home page xd</p>
    {% endblock %}
</body>
</html>