{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Medical Practitioner Dashboard</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.0/css/bootstrapValidator.min.css">

  <!-- for aadhar search feature  -->
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'treatment/css/medpracdash.css' %}">

  <!-- font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Varela&display=swap" rel="stylesheet">
</head>

<body>
  <div class="grad-bar"></div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'home' %}">Aarogya Sangraha</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto" style="display: flex; justify-content: flex-end; width: 100%;">
        <div class="hori-selector">
          <div class="left"></div>
          <div class="right"></div>
        </div>
        {% if user.medicalpractitioner %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'treatment:medpraclogout' %}"><i class="fas fa-sign-out-alt"></i>Logout</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>

  <div class="container">
    <div class="headings">
      <h1>Welcome Dr. {{ medicalPractitioner.user.first_name }} {{ medicalPractitioner.user.last_name }}</h1>
      <h2>Medical Practitioner ID: {{ medicalPractitioner.medicalID }}</h2>
      <h2>Hospital: {{ medicalPractitioner.hospitalID }}</h2>
      {% if medicalPractitioner.status == 'Suspended' %}
      <h1>You have been suspended, submit an application to judiciary to get back your license.</h1>
      {% elif medicalPractitioner.status == 'Permanently Suspended' %}
      <h1>Your medical License has been terminated.
      </h1>
      {% elif job_status %}
      <h1>You have already applied for a job. Wait for the response!</h1>
      {% elif not medicalPractitioner.hospitalID_id %}
      <a href="{% url 'treatment:send_job_application' %}">
        <button class="btn btn-primary">Apply for Hospital</button>
      </a>
    </div>

    {% else %}
    {% if medicalPractitioner.department == 'Nurse' %}
    <div class="vitals">
      <form class="well form-horizontal" action=" " method="post" id="contact_form">
        {% csrf_token %}
        <fieldset>
          <!-- Form Name -->
          <legend>Add Vitals</legend>

          <div class="form-group">
            <label class="col-md-4 control-label" for="id_aadharNo">Aadhar No:</label>
            <div class="col-md-4 inputGroupContainer">
              <select class="form-control select2" name="aadharNo" required id="id_aadharNo">
                <option value="" selected>Select Patient</option>
                {% for patient in patients %}
                <option value="{{patient.aadharNo}}">{{patient}}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="id_pulse">Pulse:</label>
            <div class="col-md-4 inputGroupContainer">
              <input name="pulse" class="form-control" type="number" required id="id_pulse">
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="id_bp_High">Bp High:</label>
            <div class="col-md-4 inputGroupContainer">
              <input name="bp_High" class="form-control" type="number" required id="id_bp_High">
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="id_bp_high">Bp Low:</label>
            <div class="col-md-4 inputGroupContainer">
              <input name="bp_low" class="form-control" type="number" required id="id_bp_low">
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="id_spO2">SpO2:</label>
            <div class="col-md-4 inputGroupContainer">
              <input name="spO2" class="form-control" type="number" required id="id_spO2">
            </div>
          </div>


          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="id_weight">Weight:</label>
            <div class="col-md-4 inputGroupContainer">
              <input name="weight" class="form-control" step="0.01" type="number" required id="id_weight">
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="id_bsa">BSA:</label>
            <div class="col-md-4 inputGroupContainer">
              <input name="bsa" class="form-control" step="0.01" type="number" required id="id_bsa">
            </div>
          </div>

          <!-- Select Basic -->
          <div class="form-group">
            <label class="col-md-4 control-label" for="id_bmi">BMI:</label>
            <div class="col-md-4 inputGroupContainer">
              <input name="bmi" class="form-control" step="0.01" type="number" required id="id_bmi">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label" for="id_glucose">Glucose:</label>
            <div class="col-md-4 inputGroupContainer">
              <input name="glucose" class="form-control" type="number" required id="id_glucose">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label" for="id_abnormalities">Abnormalities:</label>
            <div class="col-md-4 inputGroupContainer">
              <input name="abnormalities" class="form-control" type="text" maxlength="100" id="id_abnormalities">
            </div>
          </div>
          <!-- Button -->
          <div class="form-group">
            <label class="col-md-4 control-label"></label>
            <div class="col-md-4">
              <button type="submit" class="btn btn-warning">Submit <span
                  class="glyphicon glyphicon-send"></span></button>
            </div>
          </div>

        </fieldset>
      </form>
    </div>
    {% else %}
    <div class="treat">
      
      <form class="well form-horizontal" action=" " method="post" id="contact_form">
        {% csrf_token %}
        <fieldset>
          
          <!-- Form Name -->
          <legend>Treat Patient</legend>
          
          <div class="form-group">
            <label class="col-md-4 control-label" for="id_aadharNo">Aadhar No:</label>
            <div class="col-md-4 inputGroupContainer">
              <select class="form-control select2" name="aadharNo" required id="id_aadharNo">
                <option value="" selected>Select Patient</option>
                {% for patient in patients %}
                <option value="{{patient.aadharNo}}">{{patient}}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="id_symptoms">Symptoms:</label>
            <div class="col-md-4 inputGroupContainer">
              <input name="symptoms" class="form-control" type="text" maxlength="500" required id="id_symptoms">
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="id_disease">Disease:</label>
            <div class="col-md-4 inputGroupContainer">
              <input name="disease" class="form-control" type="text" maxlength="75" required id="id_disease">
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="id_advisedTest">AdvisedTest:</label>
            <div class="col-md-4 inputGroupContainer">
              <input name="advisedTest" class="form-control" type="text" maxlength="250" id="id_advisedTest">
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="id_admitted">Admitted:</label>
            <div class="col-md-4 inputGroupContainer">
              <select class="form-control" name="admitted" id="id_admitted">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
                <option value="Not Required" selected>Not Required</option>
              </select>
            </div>
          </div>


          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="id_treatmentCost">TreatmentCost:</label>
            <div class="col-md-4 inputGroupContainer">
              <input name="treatmentCost" class="form-control" type="number" id="id_treatmentCost" required>
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="id_suggestions">Suggestions:</label>
            <div class="col-md-4 inputGroupContainer">
              <input name="suggestions" class="form-control" type="text" id="id_suggestions" maxlength="500">
            </div>
          </div>

          <!-- Select Basic -->
          <div class="form-group">
            <label class="col-md-4 control-label">Medicines</label>
            <div class="col-md-4 selectContainer">
              <select name="medicines" id="medicines" multiple placeholder="Add Medicine">
                {% for medicine in medicines %}
                <option value="{{ medicine.medName }}" id="{{ medicine }}">{{medicine}}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <!-- Button -->
          <div class="form-group">
            <label class="col-md-4 control-label"></label>
            <div class="col-md-4">
              <button type="submit" class="btn btn-warning">Submit <span
                  class="glyphicon glyphicon-send"></span></button>
            </div>
          </div>

        </fieldset>
      </form>
    </div>
    {% endif %}
    {% endif %}
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.5/js/bootstrapvalidator.min.js"></script>

  <!-- for medicine search -->
  <script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@2.0.1/dist/js/multi-select-tag.js"></script>
  <script>
    new MultiSelectTag('medicines')  // id
  </script>
  <!-- for aadhar search  -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
  <script>
    $(document).ready(function () {
      $('#id_aadharNo').select2();
    });
  </script>

</body>

</html>