{% extends 'treatment/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medical Practitioner Dashboard</title>
</head>
<body>
    {% block body %}
    <p>this is med prac {{ medicalPractitioner.medicalID }}</p>
    <p>this is his hos: {{ medicalPractitioner.hospitalID }}</p>
    {% if job_status %}
      <p>You have already applied for a job.
        Wait for the response!
      </p>
    {% elif not medicalPractitioner.hospitalID_id %}
      <a href="{% url 'treatment:send_job_application' %}">
        <button>Apply for Hospital</button>
      </a>
    {% else %}
      <a href="{% url 'treatment:add_treatment' %}">Treat Patient</a>
    {% endif %}
    {% endblock %}
</body>
</html>