{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'treatment/css/patientDashboard.css' %}">
    <title>Patient Dashboard</title>
</head>
<body>
    <div class="grad-bar"></div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="{% url 'home' %}">Aarogya Sangraha</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <div class="hori-selector">
            <div class="left"></div>
            <div class="right"></div>
          </div>
          {% if user.hospital %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'treatment:hospitallogout' %}"><i class="fas fa-sign-out-alt"></i>Logout</a>
          </li>
          {% elif user.medicalpractitioner %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'treatment:medpraclogout' %}"><i class="fas fa-sign-out-alt"></i>Logout</a>
          </li>
          {% elif user.patient %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'treatment:patientlogout' %}"><i class="fas fa-sign-out-alt"></i>Logout</a>
          </li>
          {% elif user.admin %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'treatment:adminlogout' %}"><i class="fas fa-sign-out-alt"></i>Logout</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <div class="container my-5">
        <div class="text-center mb-4">
            <h2>Welcome, {{request.user.first_name}} {{request.user.last_name}}</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header bg-dark text-white">
                        <h3 class="card-title">Last Recorded Vitals</h3>
                    </div>
                    <div class="card-body">
                        <div class="vitals d-flex justify-content-around">
                            <div class="vitals-item">
                                <div class="vitals-circle">
                                    <div class="vitals-value">{{vitals.0.pulse}} bpm</div>
                                </div>
                                <div class="vitals-name">Pulse</div>
                            </div>
                            <div class="vitals-item">
                                <div class="vitals-circle">
                                    <div class="vitals-value">{{vitals.0.bp_High}}/{{vitals.0.bp_low}} mmHg</div>
                                </div>
                                <div class="vitals-name">Blood Pressure</div>
                            </div>
                            <div class="vitals-item">
                                <div class="vitals-circle">
                                    <div class="vitals-value">{{vitals.0.spO2}}%</div>
                                </div>
                                <div class="vitals-name">SpO2</div>
                            </div>
                            <div class="vitals-item">
                                <div class="vitals-circle">
                                    <div class="vitals-value">{{vitals.0.weight}} kg</div>
                                </div>
                                <div class="vitals-name">Weight</div>
                            </div>
                            <div class="vitals-item">
                                <div class="vitals-circle">
                                    <div class="vitals-value">{{vitals.0.bmi}}</div>
                                </div>
                                <div class="vitals-name">BMI</div>
                            </div>
                            <div class="vitals-item">
                                <div class="vitals-circle">
                                    <div class="vitals-value">{{vitals.0.bsa}}</div>
                                </div>
                                <div class="vitals-name">BSA</div>
                            </div>
                            <div class="vitals-item">
                                <div class="vitals-circle">
                                    <div class="vitals-value">{{vitals.0.glucose}} mg/dL</div>
                                </div>
                                <div class="vitals-name">Glucose</div>
                            </div>
                        </div>
                        <div class="treatment-details text-center mt-3">
                            <p>Recorded at: {{vitals.0.hospitalID.user.first_name}} {{vitals.0.hospitalID.user.last_name}}</p>
                            <p>Date: {{vitals.0.date}}</p>
                            <p>Time: {{vitals.0.time}}</p>
                        </div>
                        <div class="text-center mt-3">
                            <a href="{% url 'treatment:vitals_list' request.user.patient.get_aadharNo %}" class="btn btn-dark">Previous Vitals</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4 justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header bg-dark text-white">
                        <h3 class="card-title">Last Treatment</h3>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <td><strong>Recorded at</strong></td>
                                    <td>{{treatments.0.hospitalID.user.first_name}} {{treatments.0.hospitalID.user.last_name}}</td>
                                </tr>
                                <tr>
                                    <td><strong>Treated by</strong></td>
                                    <td>Dr. {{treatments.0.medicalID.user.first_name}} {{treatments.0.medicalID.user.last_name}} ({{treatments.0.medicalID.department}})</td>
                                </tr>
                                <tr>
                                    <td><strong>Date</strong></td>
                                    <td>{{treatments.0.date}}</td>
                                </tr>
                                <tr>
                                    <td><strong>Time</strong></td>
                                    <td>{{treatments.0.time}}</td>
                                </tr>
                                <tr>
                                    <td><strong>Disease</strong></td>
                                    <td>{{treatments.0.disease}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header bg-dark text-white">
                        <h3 class="card-title">Second Last Treatment</h3>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <td><strong>Recorded at</strong></td>
                                    <td>{{treatments.1.hospitalID.user.first_name}} {{treatments.0.hospitalID.user.last_name}}</td>
                                </tr>
                                <tr>
                                    <td><strong>Treated by</strong></td>
                                    <td>Dr. {{treatments.1.medicalID.user.first_name}} {{treatments.0.medicalID.user.last_name}} ({{treatments.0.medicalID.department}})</td>
                                </tr>
                                <tr>
                                    <td><strong>Date</strong></td>
                                    <td>{{treatments.1.date}}</td>
                                </tr>
                                <tr>
                                    <td><strong>Time</strong></td>
                                    <td>{{treatments.1.time}}</td>
                                </tr>
                                <tr>
                                    <td><strong>Disease</strong></td>
                                    <td>{{treatments.1.disease}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mt-4">
            <a href="{% url 'treatment:patient_treatments' %}" class="btn btn-dark">Treatment History</a>
        </div>
    </div>
</body>
</html>