{% extends 'treatment/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Dashboard</title>
</head>
<body>
    {% block body %}
    <p>this is patient {{ patient.aadharNo }}</p>
    <a href="{% url  'treatment:patient_treatments'%}">View Treatments</a>
    <a href="{% url 'treatment:vitals_list' request.user.patient.get_aadharNo %}">View Vitals</a>
    {% endblock %}
</body>
</html>