{% extends 'treatment/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block body %}
    <h2>Process Job Application</h2>
    <p>Applicant: {{ job_application.medical_practitioner }}</p>
    <p>Hospital: {{ job_application.hospital }}</p>
    <p>Application Date: {{ job_application.application_date }}</p>
    <p>Status: {{ job_application.get_status_display }}</p>
    <form method="post">
      {% csrf_token %}
      <button type="submit" name="status" value="accept">Accept</button>
      <button type="submit" name="status" value="reject">Reject</button>
    </form>
  {% endblock %}
</body>
</html>