{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Suspension Removal Requests</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css">
    <link rel="stylesheet" href="{% static 'treatment/css/requestSuspensionRemoval.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <div class="grad-bar"></div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="{% url 'home' %}">Aarogya Sangraha</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <div class="hori-selector">
            <div class="left"></div>
            <div class="right"></div>
          </div>
          {% if user.hospital %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'treatment:hospital_dashboard' request.user.hospital.hospitalID %}"><i class="fas fa-desktop"></i></i>Back To Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'treatment:hospitallogout' %}"><i class="fas fa-sign-out-alt"></i>Logout</a>
          </li>
          {% elif user.medicalpractitioner %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'treatment:practitioner_dashboard' request.user.medicalpractitioner.medicalID %}"><i class="fas fa-desktop"></i>Back To Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'treatment:medpraclogout' %}"><i class="fas fa-sign-out-alt"></i>Logout</a>
          </li>
          {% elif user.patient %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'treatment:patient_dashboard' request.user.patient.aadharNo %}"><i class="fas fa-desktop"></i>Back To Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'treatment:patientlogout' %}"><i class="fas fa-sign-out-alt"></i>Logout</a>
          </li>
          {% elif user.admin %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'treatment:admin_dashboard' request.user.username %}"><i class="fas fa-desktop"></i>Back To Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'treatment:adminlogout' %}"><i class="fas fa-sign-out-alt"></i>Logout</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <h2>Requests for removal of suspension</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Medical ID</th>
                <th>Actions</th>
            </tr>
        </thead>
                <tbody>
                    {% for practitioner in medical_practitioners %}
                    <tr>
                        <td>Dr. {{ practitioner.user.first_name }} {{ practitioner.user.last_name }}</td>
                        <td>{{ practitioner.medicalID }}</td>
                        <td>
                            <a href="{% url 'treatment:suspension_removal' practitioner.medicalID %}" class="btn btn-success">Remove Suspension</a>
                            <a href="{% url 'treatment:suspension_permanent' practitioner.medicalID %}" class="btn btn-danger">Suspend Permanently</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        
        </body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</html>