<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Treatment Record</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css">
    <link rel="stylesheet" href="{% static 'treatment/css/treatment_detail.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>
<body>
    <div class="grad-bar"></div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'home' %}">Aarogya Sangraha</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <div class="hori-selector">
          <div class="left"></div>
          <div class="right"></div>
        </div>
        {% if user.hospital %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'treatment:hospital_dashboard' request.user.hospital.hospitalID %}"><i class="fas fa-desktop"></i></i>Back To Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'treatment:hospitallogout' %}"><i class="fas fa-sign-out-alt"></i>Logout</a>
        </li>
        {% elif user.medicalpractitioner %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'treatment:practitioner_dashboard' request.user.medicalpractitioner.medicalID %}"><i class="fas fa-desktop"></i>Back To Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'treatment:medpraclogout' %}"><i class="fas fa-sign-out-alt"></i>Logout</a>
        </li>
        {% elif user.patient %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'treatment:patient_dashboard' request.user.patient.aadharNo %}"><i class="fas fa-desktop"></i>Back To Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'treatment:patientlogout' %}"><i class="fas fa-sign-out-alt"></i>Logout</a>
        </li>
        {% elif user.admin %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'treatment:admin_dashboard' request.user.username %}"><i class="fas fa-desktop"></i>Back To Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'treatment:adminlogout' %}"><i class="fas fa-sign-out-alt"></i>Logout</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>
    <h1>{{ treatment.hospitalID.user.first_name }} {{ treatment.hospitalID.user.last_name }}</h1>
    <h2>Hospital ID: {{ treatment.hospitalID.hospitalID }}</h2>
    <h3>{{ treatment.hospitalID.address }}, {{ treatment.hospitalID.city }}, {{ treatment.hospitalID.state }}, Pincode: {{ treatment.hospitalID.pincode }}</h3>
    <table>
        <tr>
            <th>Treatment ID</th>
            <td>{{ treatment.tid }}</td>
        </tr>
        <tr>
            <th>Date</th>
            <td>{{ treatment.date }}</td>
        </tr>
        <tr>
            <th>Time</th>
            <td>{{ treatment.time }}</td>
        </tr>
        <tr>
            <th>Patient Name</th>
            <td>{{ treatment.aadharNo.user.first_name }} {{ treatment.aadharNo.user.last_name }}</td>
        </tr>
        <tr>
            <th>Aadhar Number</th>
            <td>{{ treatment.aadharNo.get_aadharNo }}</td>
        </tr>
        <tr>
            <th>Department Concerned</th>
            <td>{{ treatment.medicalID.department }}</td>
        </tr>
        <tr>
            <th>Disease</th>
            <td>{{ treatment.disease }}</td>
        </tr>
        <tr>
            <th>Admitted</th>
            <td>{{ treatment.get_admitted_display }}</td>
        </tr>
        <tr>
            <th>Suggestions</th>
            <td>{{ treatment.suggestions }}</td>
        </tr>
        <tr>
            <th>Treatment Cost</th>
            <td>{{ treatment.treatmentCost }}</td>
        </tr>
        <tr>
            <th>Treated By</th>
            <td>{{ treatment.medicalID }}</td>
        </tr>
        <tr>
            <th>Medicines Prescribed</th>
            <td>
                <ul>
                    {% for medicine in treatment.medicines.all %}
                    <li>{{ medicine }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
    </table>
    <div class="back-link">
        {% if request.user.patient %}
        <a href="{% url 'treatment:patient_dashboard' request.user.patient.get_aadharNo %}"><i class="fas fa-arrow-left"></i> Back to Dashboard</a>
        {% else %}
        <a href="{% url 'treatment:practitioner_dashboard' treatment.medicalID.get_medicalID %}"><i class="fas fa-arrow-left"></i> Back to Dashboard</a>
        {% endif %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>