{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css">
    <link rel="stylesheet" href="{% static 'treatment/css/vitalsList.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Vitals Record</title>
    <style>
        th,td{
            text-align: center;
        }
        tbody tr:hover td {
        background-color: #e8e8e8;
    }
    </style>
</head>
<body>
    <div class="grad-bar"></div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'home' %}">Aarogya Sangraha</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <div class="hori-selector">
          <div class="left"></div>
          <div class="right"></div>
        </div>
        {% if user.hospital %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'treatment:hospital_dashboard' request.user.hospital.hospitalID %}"><i class="fas fa-desktop"></i></i>Back To Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'treatment:hospitallogout' %}"><i class="fas fa-sign-out-alt"></i>Logout</a>
        </li>
        {% elif user.medicalpractitioner %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'treatment:practitioner_dashboard' request.user.medicalpractitioner.medicalID %}"><i class="fas fa-desktop"></i>Back To Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'treatment:medpraclogout' %}"><i class="fas fa-sign-out-alt"></i>Logout</a>
        </li>
        {% elif user.patient %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'treatment:patient_dashboard' request.user.patient.aadharNo %}"><i class="fas fa-desktop"></i>Back To Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'treatment:patientlogout' %}"><i class="fas fa-sign-out-alt"></i>Logout</a>
        </li>
        {% elif user.admin %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'treatment:admin_dashboard' request.user.username %}"><i class="fas fa-desktop"></i>Back To Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'treatment:adminlogout' %}"><i class="fas fa-sign-out-alt"></i>Logout</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>
        <h2 class="mb-4">Vitals Recorded</h2>
        <table class="table table-striped ">
            <thead class="table-dark">
                <tr>
                    <th>Recorded At</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Pulse</th>
                    <th>Blood Pressure (High)</th>
                    <th>Blood Pressure (Low)</th>
                    <th>SpO2</th>
                    <th>Weight</th>
                    <th>BMI</th>
                    <th>BSA</th>
                    <th>Glucose (Random)</th>
                    <th>Abnormalities</th>
                </tr>
            </thead>
            <tbody>
                {% for vital in vitals %}
                <tr>
                    <td>{{ vital.hospitalID }}</td>
                    <td>{{ vital.date }}</td>
                    <td>{{ vital.time }}</td>
                    <td>{{ vital.pulse }}</td>
                    <td>{{ vital.bp_High }}</td>
                    <td>{{ vital.bp_low }}</td>
                    <td>{{ vital.spO2 }}</td>
                    <td>{{ vital.weight }}</td>
                    <td>{{ vital.bmi }}</td>
                    <td>{{ vital.bsa }}</td>
                    <td>{{ vital.glucose }}</td>
                    <td>{{ vital.abnormalities }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
</html>