
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <title>Vitals Record</title>
    <style>
        th,td{
            text-align: center;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <a href="{% url 'home' %}" class="navbar-brand ms-3">Aarogya Sangraha</a>
        <div class="navbar">
            <a class="nav-item nav-link text-light me-3" href="{% url 'treatment:hospitalsignup' %}">Hospital Signup</a>
            <a class="nav-item nav-link text-light me-3" href="{% url 'treatment:patientsignup' %}">Patient Signup</a>
            <a class="nav-item nav-link text-light me-3" href="{% url 'treatment:medpracsignup' %}">Medical Practitioner Signup</a>
            <a class="nav-item nav-link text-light me-3" href="{% url 'treatment:adminsignup' %}">Admin Signup</a>
            {% if not user.is_authenticated %}
                <a class="nav-item nav-link text-light me-3" href="{% url 'treatment:hospitallogin' %}">Hospital Login</a>
                <a class="nav-item nav-link text-light me-3" href="{% url 'treatment:patientlogin' %}">Patient Login</a>
                <a class="nav-item nav-link text-light me-3" href="{% url 'treatment:medpraclogin' %}">Medical Practitioner Login</a>
                <a class="nav-item nav-link text-light me-3" href="{% url 'treatment:adminlogin' %}">Admin Login</a>
            {% else %}
                {% if user.hospital %}
                    <a class="nav-item nav-link text-light me-3" href="{% url 'treatment:hospitallogout' %}">Logout</a>
                {% elif user.medicalpractitioner %}
                    <a class="nav-item nav-link text-light me-3" href="{% url 'treatment:medpraclogout' %}">Logout</a>
                {% elif user.patient %}
                    <a class="nav-item nav-link text-light me-3" href="{% url 'treatment:patientlogout' %}">Logout</a>
                {% elif user.admin %}
                    <a class="nav-item nav-link text-light me-3" href="{% url 'treatment:adminlogout' %}">Logout</a>
                {% endif %}
            {% endif %}
        </div>
    </nav>
        <h2 class="mb-4">Vitals Recorded</h2>
        <table class="table table-striped table-hover">
            <thead class="table-dark">
                <tr>
                    <th>Recorded At</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Pulse</th>
                    <th>Blood Pressure (High)</th>
                    <th>Blood Pressure (Low)</th>
                    <th>SpO2</th>
                    <th>Weight</th>
                    <th>BMI</th>
                    <th>BSA</th>
                    <th>Glucose (Random)</th>
                    <th>Abnormalities</th>
                </tr>
            </thead>
            <tbody>
                {% for vital in vitals %}
                <tr>
                    <td>{{ vital.hospitalID }}</td>
                    <td>{{ vital.date }}</td>
                    <td>{{ vital.time }}</td>
                    <td>{{ vital.pulse }}</td>
                    <td>{{ vital.bp_High }}</td>
                    <td>{{ vital.bp_low }}</td>
                    <td>{{ vital.spO2 }}</td>
                    <td>{{ vital.weight }}</td>
                    <td>{{ vital.bmi }}</td>
                    <td>{{ vital.bsa }}</td>
                    <td>{{ vital.glucose }}</td>
                    <td>{{ vital.abnormalities }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    <a href="{% url 'treatment:patient_dashboard' request.user.patient.get_aadharNo %}">Back to Dashboard</a>
</html>